gradlew*
**/build/
**/dist/
**/gradle/
**/.gradle/
**/node_modules/
**/npm-debug.log
/src/main/resources/static

### STS ###
/.classpath
/.factorypath
/.project
/.settings
/.springBeans

### IntelliJ IDEA ###
**/.idea/
*.iws
*.iml
*.ipr
